


@media screen and (min-width: 250px) {
    .flexParent {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    
}

.mainContent {
    flex:1;
}


/* Sidebar */
.sidebar {
    flex:0 0 200px;
    border-style:solid;
    padding: 10px;
}

.username {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    font-size: large;
}
.sidebarView{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.logoutButton {
    padding: 5px 10px;
    background-color: darkseagreen;
    border: none;
    color: white;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
}

.logoutButton:hover {
    background-color: rgb(79, 104, 79);
}


/* define profileTable that is a table with 3 columns and two rows. Make it have lines between the rows and columns. */
.profileTable {
    height: 100%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    background-color: #ffffff;
}

.tableTitle {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.profileView_song_name {
    border: 1px solid black;
    padding: 5px;
    color: black;
}

.profileView_artist_name {
    border: 1px solid black;
    padding: 5px;
    color: black;
}

.profileView_album_name {
    border: 1px solid black;
    padding: 5px;
    color: black;
}

.searchBarText {
    margin: 2%;
}
.searchInput {
    margin: 2% 2% 2% 2%;
    padding: 5px 10px;
    border: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
    background-color: #e7e7e7;

}

.types {
    margin: 2%;
    padding: 5px 10px;
    border: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;
    background-color: #e7e7e7;
}


.searchButton {
    margin: 2%;
    padding: 5px 10px;
    background-color: darkseagreen;
    border: none;
    color: white;
    display: inline-block;
    font-size: 12px;
    border-radius: 10px;

}

.searchButton:hover {
    background-color: rgb(79, 104, 79);
}

.searchBar {
    margin-left: 2%;
    margin-top: 2%;
}


/* SEARCHRESULTS */

.searchResultViewBox {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgb(83, 73, 73);
    width: 100%;
    border: 1px solid black;
    margin: 2%;
}

/* Flex box for the search results */
.searchResultViewInnerbox {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    padding: 2%;
}

.searchResultViewHeader {
    width: 100%;
    padding: 0px;
    gap: 10px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 0px;
    text-align: center;

}

.searchResultView_left {
    display: flex;
    flex: 1;
    flex-direction: column; 
    align-items: left;
    position: relative;
}

.searchResultView_right {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: right;
    align-items: right;
    max-width: 100px;
    max-height: 100px;

      
}

.searchResultTitle {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0px;
    padding: 0px;
}

/* should be aligned to bottom */
.searchResultViewMoreInfo {
    margin: 0px;
    padding: 0px;
    text-align: bottom;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

/* picture should be as far right as possible*/
.searchResultViewPicture { 
    position: absolute;
    border: 1px solid black;
}

.infoView {
    border-style: solid;
    padding: 2%;
    white-space: pre-line;
}

/* LOGIN PAGE */

.login {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    background-color: rgba(80, 101, 94, 0.456);
    border-radius: 50px;
}

.signInButton {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    padding: 5px 10px;
    background-color: darkseagreen;
    border: none;
    color: white;
    display: block;
    font-size: 12px;
    border-radius: 10px;
}

.signUpButton {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    padding: 5px 10px;
    background-color: darkseagreen;
    border: none;
    color: white;
    display: block;
    font-size: 12px;
    border-radius: 10px;
}

.signInButton:hover {
    background-color: rgb(79, 104, 79);
}

.signUpButton:hover {
    background-color: rgb(79, 104, 79);
}

.emailInput {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 5px 10px;
    border: none;
    display: block;
    font-size: 12px;
    border-radius: 10px;
    background-color: #e7e7e7;
}

.passwordInput {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    padding: 5px 10px;
    border: none;
    display: block;
    font-size: 12px;
    border-radius: 10px;
    background-color: #e7e7e7;
}

.welcomeMusiceja {
    text-align: center;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;    
}



